.item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: .5rem;
  margin-bottom: .5rem;

}

.img {
  width: 3em;
  border-radius: 50%;

}

.text {
  width: 30%;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 2em;
  background-color: #535bf2;
  color: white;
}